/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* Estilo global */
body {
    font-family: 'Segoe UI', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    display: grid;
    justify-content: center;
    min-width: 100%;
    min-height: 90vh;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #333;
}
.navbar > img {
    width: 30%;
    height: auto;
}

.navbar__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 20px;
    font-size: 30px;
}

.navbar__item {
    margin-right: 15px;
}

.navbar__link {
    text-decoration: none;
    color: #fff;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 2.85rem;
}
.dropdown-content__link {
    color: #333;
    padding: 12px 13px;
    display: block;
    text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Home */
.home {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 0;
    align-items: center;
}
.home__title {
    font-size: 5rem
}
.home > span {

}
.home__link {
    text-decoration: none;
}

/* Destaque Principal */
.destaque {
    margin-top: 20px;
}

/* .destaque:hover .destaque__main .destaque__text {
    color: #000;
    opacity: 1;
} */

.destaque__item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    background: no-repeat url(../imgs/destaque.jpg) center;
    background-size: cover;
}

.destaque__main {
    padding: 1.5rem;
    position: relative;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2rem 2rem 0rem 0rem;
    transition: all 0.2s;
}

.destaque__title {
    font-size: 40px;
    margin-bottom: 5px;
    color: #fff;
}

.destaque__date {
    color: #fff;
    font-size: 1.5rem;
}

.destaque__text {
    color: #c9c9c9;
    padding-top: 1.5rem;
}

/* Adiciona transição para a opacidade no .destaque__main */
.destaque__main:hover {
    opacity: 1;
}


/* Outras Notícias */
.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.noticias__item {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden; 
    display: flex;
    align-items: flex-end;
}

.noticias__cont {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 2rem 2rem 0rem 0rem;
    transition: all 0.2s;
    opacity: 0.7;
}
.noticias__item:hover .noticias__cont {
    opacity: 1;
}

.noticias__title {
    font-size: 30px;
    margin-bottom: 5px;
    color: #fff;
}

.noticias__summary {
    color: #c9c9c9;
}


.noticias__item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

/* Contagem Regressiva */
.contador {
    margin-top: 20px;
    justify-items: center;
    align-content: center;
}
.contador__title {
    font-size: 20px;
    margin-bottom: 10px;
}
.contador__timer {
    font-size: 18px;
    color: #e44d26;
}

/* Logos */
.logos {
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}
.logos__logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

/* Depoimentos */
.depoimentos {
    margin-top: 20px;
}
.depoimentos__item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}
.depoimentos__title {
    font-size: 20px;
    margin-bottom: 10px;
}
.depoimentos__text {
    color: #555;
}
