/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: 'Segoe UI', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    display: grid;
    justify-content: center;
    min-width: 100%;
}

/* Navbar */
.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar__item {
    margin-right: 15px;
}

.navbar__link {
    text-decoration: none;
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: .75rem;
}

.dropdown-content__link {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Home */
.home {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 0;

    display: grid;
    justify-content: center;
}
.home__title {
    font-size: 5rem
}
.home > span {

}
.home__link {
    text-decoration: none;
}

/* Destaque Principal */
.destaque {
    margin-top: 20px;
}

.destaque__item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.destaque__header {
    margin-bottom: 10px;
}

.destaque__title {
    font-size: 24px;
    margin-bottom: 5px;
}

.destaque__date {
    color: #888;
}

.destaque__image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.destaque__text {
    color: #333;
}

/* Outras Notícias */
.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.noticias__item {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.noticias__title {
    font-size: 18px;
    margin-bottom: 5px;
}

.noticias__summary {
    color: #555;
}

/* Contagem Regressiva */
.contador {
    margin-top: 20px;
}

.contador__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.contador__timer {
    font-size: 18px;
    color: #e44d26;
}

/* Logos */
.logos {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.logos__logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

/* Depoimentos */
.depoimentos {
    margin-top: 20px;
}

.depoimentos__item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.depoimentos__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.depoimentos__text {
    color: #555;
}
