* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: auto;
}
:root {
    --color-primary: ;
    --color-secondary: ;
    --color-black: #000;
    --color-white: #fff;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.text-center {
    text-align: center;
}


/* Code */
html {
    scroll-behavior: smooth;

    background-image: url(./01-css-images/background\ -\ Copia.png);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100%;

    height: 5000px;
}


body {
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
}
 

aside {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}
aside ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
}
aside ul li .indicador {
    cursor: pointer;
    margin-top: 1rem;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgba(25, 255, 79, 0.648);
}
aside ul li .ativo {
    transform: scale(1.7);
    transition: transform 200ms ease-in-out;
} 


.screen {
    min-height: 90vh;
    min-width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}


.display {
    position: absolute;
    
    height: 23rem;
    
    background-color: rgba(25, 255, 77, 0.393);
    
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    
    border-radius: 10px;
    padding: 1rem;
    
    text-shadow:0px 1px 5px #33FF63;
    color: #85030A;
}

/* MENU */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 5rem;
    text-align: center;
}
.subtitle {
    font-size: 1rem;
    width: 600px;
}

.home nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.1rem 0.25rem;
    justify-content: space-evenly;
    justify-items: center;
    text-decoration: none;
}
.utec {
    padding-left: 0.1rem;
}
nav img {
    width: inherit;
    height: 1.5rem;
}
.home nav a {
    padding-bottom: 0;
}

.button {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}
button {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:20px;
	border:1px solid #268a16;
	display:flex;
	cursor:pointer;
	color:#306108;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
button:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
button:active {
	position:relative;
	top:1px;
}
button img {
    max-height: 1rem;
}


/* Tabelas */
#Tabelas{
    display: flex;
    flex-direction: column;
}
.tabelas{
    display: flex;
}











/* http://www.hoole.onl/04-02-starting.html 
    https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Dealing_with_files
    https://www.youtube.com/watch?v=ouviTuZUB4E
    https://www.youtube.com/watch?v=SXR8PL3VvqY
    https://alvarotrigo.com/blog/create-a-slidebar-bullet-navigation-to-smoothly-snap-to-sections/
    https://color.adobe.com/pt/create/color-wheel
    */