* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --color-primary: ;
    --color-secondary: ;
    --color-black: #000;
    --color-white: #fff;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.text-center {
    text-align: center;
}


/* Code */
body {
    padding: 0 1rem;
    background-image: url(./01-css-images/background.png);
    background-position: inherit;
    height: 5000px;
    background-repeat: no-repeat;
}

.hero-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(127, 255, 212, 0.393);
    
    border-radius: 5%;
    padding: 1rem;
    
    justify-content: space-between;
}

.hero-section nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.1rem 0.25rem;
    justify-content: space-evenly;
    justify-items: center;
    text-decoration: none;
    /* background: linear-gradient(90deg, #3cb102, #14c5ce); */
    border-radius: 20%;
}
.utec {
    padding-left: 0.1rem;
}
nav img {
    width: inherit;
    height: 1.5rem;
}
.hero-section nav a {
    padding-bottom: 0;
}

h1 {
    font-size: 5rem;
    text-align: center;
}
.subtitle {
    font-size: 1rem;
    width: 600px;
}














/* http://www.hoole.onl/04-02-starting.html 
    https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Dealing_with_files
    https://www.youtube.com/watch?v=ouviTuZUB4E
    https://www.youtube.com/watch?v=SXR8PL3VvqY
    */