body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* http://www.hoole.onl/04-02-starting.html 
    https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Dealing_with_files
    https://www.youtube.com/watch?v=ouviTuZUB4E
    https://www.youtube.com/watch?v=SXR8PL3VvqY
    */