* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: auto;
}
:root {
    --color-primary: rgba(25, 255, 77, 0.393);
    --color-secondary: #85030A;
    --color-black: #000;
    --color-white: #fff;

	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.text-center {
    text-align: center;
}


/* Code */
    /* GERAL  */
html {
    scroll-behavior: smooth;

    background-image: url(../img/background.png);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100%;

    height: 2000px;
}


body {
    display: flex;
    flex-direction: column;
}


.screen {
    min-height: 90vh;
    min-width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}


.display {
    position: absolute;
    
    height: 30rem;
    width: 50rem;
    
    background-color: rgba(25, 255, 77, 0.393);
    
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    
    border-radius: 10px;
    padding: 1rem;
    
    text-shadow:0px 1px 5px #33FF63;
    color: var(--color-secondary);
}

    /* MENU */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 5rem;
    text-align: center;
}
.subtitle {
    font-size: 1rem;
    width: 600px;
	font-weight: 600;
}

.home nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.1rem 0.25rem;
    justify-content: space-evenly;
    justify-items: center;
    text-decoration: none;
}
.home nav a {
    padding-bottom: 0;
}
.utec {
    padding-left: 0.1rem;
}
nav img {
    width: inherit;
    height: 1.5rem;
}

.button {
    display: flex;
    flex-direction: row;
	place-items: center;
    justify-content: space-evenly;
    
    text-decoration:none; 
    font-weight:bold;
    color:#306108;
    font-size:15px;
    text-shadow:0px 1px 0px #aade7c;
}
button {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:20px;
	border:1px solid #268a16;
	display:flex;
	cursor:pointer;

	padding:6px 10px;
}
button:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
button:active {
    position:relative;
	top:1px;
}
button img {
    max-height: 1rem;
}


.container {
	display: flex;
	align-items: center;
	margin: 1rem auto;
	max-width: 90rem;
}
.container.row-reverse {
	flex-direction: row-reverse;
}

footer {
    border-bottom: 0;
	margin-top: 14rem;

	background-color: rgba(25, 255, 77, 0.393);
    
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

	max-height: fit-content;

	color: var(--color-secondary);
}
footer nav a {
    display: block;
    padding-left: 0;
	font-weight: bold;
}
footer img {
	display: flex;
	align-self: center;
	max-width: 25%;
}
.newsletter-form label {
    display: block;
    font-size: 1.5rem;
} 
::placeholder{
	color: var(--color-secondary);
}
.newsletter-form input {
    border: 2px solid #306108;
    box-shadow: 4px 4px 0 var(--color-secondary);
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 100%;
    background-color: rgb(38 170 68);
}
.about-column p {
	font-size: 1.25rem;
	max-width: 24rem;
}
.about-column p span {
	font-weight: bold;
}
.about-column p a {
	text-decoration: none;
	color: inherit;
	font-weight: 500;
}
footer nav {
	flex: 1;
}
.about-column {
	flex: 2;
}
.newsletter-form {
	flex: 3;
}



    /* MENU */
header {
    position: sticky;
    top: 0;
    z-index: 100;

    display: grid;
	grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    
    
    background-color: rgba(25, 255, 77, 0.393);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    padding-bottom: 1rem;
}
header nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem auto 0;
    
    justify-items: center;
}
nav a {
    text-shadow:0px 1px 5px #33FF63;
    color: var(--color-secondary);
    
    font-size: 1rem;
	font-style: italic;
    text-decoration: none;

    padding: .5rem;
}
header a img {
    display: flex;
	align-self: center;
	max-width: 5%;
}


aside {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);

    padding-left: 2.5rem;
}
aside ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
}
aside ul li .indicador {
    cursor: pointer;
    margin-top: 1rem;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--color-primary);
}
aside ul li .ativo {
    transform: scale(1.7);
    transition: transform 200ms ease-in-out;
} 

@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

.page-content {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(4, 1fr);

	padding-top: 14rem;
	max-width: 1440px;
	margin: 0 auto 10rem auto;

	font-weight: bold;
	font-family: var(--font-sans);
}
.card {
	background-color: rgba(25, 255, 77, 0.393);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );

	text-align: center; 
    text-shadow:1px 1px 3px rgba(25, 255, 77);
    color: var(--color-secondary);

	position: relative;

	display: flex;
	align-items: flex-end;

	overflow: hidden;

	padding: 1rem;
	width: 100%;
	min-height: 28.75rem;

	box-shadow: 0 1px 1px rgba(25, 255, 77, 0.1), 0 2px 2px rgba(25, 255, 77, 0.1), 0 4px 4px rgba(25, 255, 77, 0.1), 0 8px 8px rgba(25, 255, 77, 0.1), 0 16px 16px rgba(25, 255, 77, 0.1);
}
.card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: 0 0;
	transition: transform calc(var(--d) * 1.5) var(--e);
	pointer-events: none;
}
.card:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(25, 255, 77, 0) 0%, rgba(25, 255, 77, 0.009) 11.7%, rgba(25, 255, 77, 0.034) 22.1%, rgba(25, 255, 77, 0.072) 31.2%, rgba(25, 255, 77, 0.123) 39.4%, rgba(25, 255, 77, 0.182) 46.6%, rgba(25, 255, 77, 0.249) 53.1%, rgba(25, 255, 77, 0.320) 58.9%, rgba(25, 255, 77, 0.394) 64.3%, rgba(25, 255, 77, 0.468) 69.3%, rgba(25, 255, 77, 0.540) 74.1%, rgba(25, 255, 77, 0.607) 78.8%, rgba(25, 255, 77, 0.668) 83.6%, rgba(25, 255, 77, 0.721) 88.7%, rgba(25, 255, 77, 0.762) 94.1%, rgba(25, 255, 77, 0.790) 100%);
	transform: translateY(-50%);
	transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
	background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(2):before {
	background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(3):before {
	background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(4):before {
	background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--d) var(--e);
	z-index: 1;
}
.content > * + * {
	margin-top: 1rem;
}
.title {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}
.copy {
	font-style: italic;
	line-height: 1.35;
}
.btn {
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
    color: var(--color-secondary);
	text-shadow: 1px 1px 3px rgba(25, 255, 77);
    text-decoration:none;
}
.card a {
	text-decoration: none;
}

/* Efeito hover no card */
@media (hover: hover) and (min-width: 600px) {
	.card:after {
		transform: translateY(0);
	}
	.content {
		transform: translateY(calc(100% - 4.5rem));
	}
	.content > *:not(.title) {
		opacity: 0;
		transform: translateY(1rem);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}
	.card:hover, .card:focus-within {
		align-items: center;
	}
	.card:hover:before, .card:focus-within:before {
		transform: translateY(-4%);
	}
	.card:hover:after, .card:focus-within:after {
		transform: translateY(-50%);
	}
	.card:hover .content, .card:focus-within .content {
		transform: translateY(0);
	}
	.card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
	opacity: 1;
	transform: translateY(0);
	transition-delay: calc(var(--d) / 8);
	}
	.card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
	transition-duration: 0s;
	}
}
 




/* Tabelas */
.pagTabelas {
	height: 1080px;
}
.pagTabelas footer {
	margin-top: 4rem;
}
#Tabelas .display{
    height: fit-content;
	display: flex;
	flex-direction: column;
}
.tabelas th {
	min-width: 2rem;
} 
.tabelas .head {
	min-width: 5rem;
}
.tabelas table {
	margin: 1rem auto 2rem auto;
}


/* Formulario */
.pagForm {
	height: 1080px;
}
.pagForm footer {
	margin-top: 2rem;
}
.survey-form label {
    display: block;
    font-size: 1.5rem;
} 
.survey-form input {
    border: 2px solid #306108;
    box-shadow: 4px 4px 0 var(--color-secondary);
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 100%;
    background-color: rgb(38 170 68);
}
.survey-form input[type=radio] {
	width: fit-content;
}
.survey-form input[type=checkbox] {
	width: fit-content;
}










/* http://www.hoole.onl/04-02-starting.html 
https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Dealing_with_files
    https://www.youtube.com/watch?v=ouviTuZUB4E
    https://www.youtube.com/watch?v=SXR8PL3VvqY
    https://alvarotrigo.com/blog/create-a-slidebar-bullet-navigation-to-smoothly-snap-to-sections/
    https://color.adobe.com/pt/create/color-wheel
    */