@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
}
/* Header personaliado com a borda de cima faltando (ainda n implementado)*/
header{
    display: flex;
    flex-direction: column; /* é o que ta causando o scroll aparecer */
    justify-content: center;
    text-align: center;
    margin-top: 40px;

    border-top: none;
    border: 3px solid black;
}
/* Nomes */
h2 {
    margin: -17px -20px 10px -20px;
    background-color: white;
}
/* Linha */
h2:after {
    left:0px;
    display:block;
    width:100%;
    margin: -15px 0 0 0;
    content: " ";
    background:#000;
}
/* Fundo texto p/ cortar linha */
h2 span {
    background-color: white;
    display: inline-block;
    width: 475px;
}

/* Div principal, todo conteúdo */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    flex-direction: row;
    margin-top: 90px;
}

/* Inserção de valores */
.container{ 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 10px;
    border-style: solid;
    padding-bottom: unset;
}

/* Passo a passo da equação */
.passoAPasso {
    background-color: transparent;
    margin-left: 5%;
    display: none;
    padding-bottom: 3rem;
}

/* Resultado */
p {
    margin: 10px 0 8px;
}

/* Etiquetas, inputs e botão */
label{
    font-weight: bold;
    margin: 5px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
button{
    background-color: #da3737;
    transition: background 0.2s;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    margin-top: 1rem;
    cursor: p;
    border: solid;
    border-color: black;
    border-width: 2px;
}
button:hover{
    background-color: #811e1e;
}
input{
    all: unset;
    height: 2   rem;
    width: 10rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}