@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    border: none;
    border-top: 3px solid black;
}
/* Nomes */
h2 {
    margin: -17px -10px 10px -20px;
    background-color: white;
}
/* Linha */
h2:after {
    left:0px;
    display:block;
    width:100%;
    margin: -15px 0 0 0;
    content: " ";
    background:#000;
}
/* Fundo texto p/ cortar linha */
h2 span {
    background-color: white;
    display: inline-block;
    width: 475px;
}

/* Div principal, todo conteúdo */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    gap: 1rem;
}

/* Inserção de valores */
.container{ 
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 10px;
    padding-bottom: 2rem;
}
/* Resultado */
.resultado {
    display: none;
}

/* Passo a passo da equação */
.passoAPasso {
    background-color: salmon;
    display: none;
    text-align: center;
    padding: 1.50rem;
    border: none;
    border-radius: 10px;
}

/* Etiquetas, inputs e botão */
label{
    font-weight: bold;
    margin: 5px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
button{
    background-color: #d61d1d;
    transition: background 0.2s;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    margin-top: 1rem;
    cursor: p;
    border: none;
}
button:hover{
    background-color: #811e1e;
}
input{
    all: unset;
    height: 2   rem;
    width: 10rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}