/* Noramlização e padronização */
* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}
html {
  position: relative;
  width: 100%;
  height: fit-content;
  scroll-behavior: smooth;
  user-select: none;
}
html::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
body {
  background-color: darkgreen;
  width: 90%;
  height: 100%;
  display: grid;
  place-items: center;
}
.App {
  background-color: green;
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  display: flex;
  border-radius: 3rem;
  border: 1px solid #fff;
  justify-content: center;
}


.Primeiro {
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}
input {
  border-radius: 10px;
  text-align: center;
  padding: .5rem;
}


.Segundo {
  flex-direction: column;
}
button {
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 5px 6px 0px rgba(0,0,0,0.2);
}
.Segundo > button {
  margin-bottom: 2rem;
}
.posts::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}


.Terceiro {
  align-items: center;
  font-size: 3rem;
  text-shadow: 3px 3px 6px #000;
  flex-direction: column;
}

.Quarto > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
