/* Noramlização e padronização */
* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

html {
  position: relative;
  width: 100%;
  height: fit-content;
}

body {
  background-color: darkgreen;
  width: 90%;
  height: 100%;
  display: grid;
  place-items: center;
}

.App {
  background-color: green;
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  display: flex;
  border-radius: 3rem;
  border: 1px solid #fff;
}

.Primeiro {
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.Segundo {
  flex-direction: column;
}

button {
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: bold;
}

input {
  border-radius: 10px;
  text-align: center;
  padding: .5rem;
}

.posts {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 1rem;
}

.post {
  margin: 1rem;
}